# Print Statement()

The print() function in Python is used to display output on the screen.

It can print strings, numbers, variables, expressions, or even multiple values at once.

By default, print() adds a newline (\n) at the end of the output.

In [2]:
# Printing a string
print("Hello, World!")

# Printing numbers
print(10)
print(3.14)

# Printing variables
name = "Aishwarya"
age = 21
print(name, age)

# Printing an expression
print(5 + 3)   # Output: 8

Hello, World!
10
3.14
Aishwarya 21
8

## 1. Printing multiple items

In [3]:
print("My name is", "Aishwarya", "and I am", 21, "years old")
# Output: My name is Aishwarya and I am 21 years old

My name is Aishwarya and I am 21 years old

## 2.Using sep (separator between values)

In [4]:
print("2025", "09", "21", sep="-")
# Output: 2025-09-21

2025-09-21

## 3. Using end (what to print at the end instead of newline

In [5]:
print("Hello", end=" ")
print("World")
# Output: Hello World

Hello World

## 4. Printing with escape sequences

In [6]:
print("Hello\nPython")   # Newline
print("Name:\tAishwarya")  # Tab space

Hello
Python
Name:	Aishwarya

## 5. Printing formatted strings (f-strings)

In [7]:
name = "Aishwarya"
marks = 95
print(f"My name is {name} and I scored {marks} marks.")
# Output: My name is Aishwarya and I scored 95 marks.

My name is Aishwarya and I scored 95 marks.